
QtwitterLib.pro.user
*.pdb
debug/*
Makefile*
QTwitLib.pro.user
release/*
QTweetLib.pro.user
QTweetLib.pro.user.*
exampletest/debug/*
exampletest/ui_*.h
exampletest/exampletest.pro.user
exampletest/*.sdf
exampletest/*.sln
exampletest/*.suo
exampletest/*.vcxproj
exampletest/*.vcxproj.*
exampletest/ipch/*
*.opensdf
exampletest/exampletest.pro.user.*
lib/*.exe
lib/*.dll
lib/*.exp
lib/*.ilk
lib/*.lib
lib/*.prl
qjson/debug
scr/debug
src/debug
qjson/*.vcxproj
qjson/*.vcxproj.*
*.sdf
*.sln
*.suo
src/*.vcxproj
src/*.vcxproj.*
examples/search/debug/*
examples/timelines/debug/*
examples/statusupdate/debug/*
examples/statusupdate/ui_mainwindow.h
examples/timelines/ui_mainwindow.h
examples/timelines/ui_mainwindow.h
examples/geosearch/debug/*
ipch/*
examples/timelines/*.vcxproj.*
examples/geosearch/*.vcxproj*
examples/geosearch/ui_geosearch.h
examples/search/*.vcxproj*
examples/statusupdate/*.vcxproj*
examples/timelines/*.vcxproj*
examples/georeverse/debug/*
examples/georeverse/ui_*.h
examples/followers/debug/*
examples/followers/*.vcxproj.*
examples/followers/*.vcxproj
examples/georeverse/*.vcxproj*
examples/followers/ui_*.h
examples/search/ui_*.h
examples/search/ui_*.h
examples/search/ui_*.h
examples/userstream/debug/*
examples/userstream/ui_*.h
examples/pinauthstatusupdate/debug/*.obj
examples/pinauthstatusupdate/debug/moc_*.cpp
examples/pinauthstatusupdate/debug/*.exe
examples/pinauthstatusupdate/debug/*.ilk
examples/pinauthstatusupdate/debug/*.intermediate.manifest
examples/pinauthstatusupdate/ui_*.h
*.o