
QtwitterLib.pro.user
*.pdb
debug/*
Makefile*
QTwitLib.pro.user
release/*
QTweetLib.pro.user
QTweetLib.pro.user.*
exampletest/debug/*
exampletest/ui_*.h
exampletest/exampletest.pro.user
exampletest/*.sdf
exampletest/*.sln
exampletest/*.suo
exampletest/*.vcxproj
exampletest/*.vcxproj.*
exampletest/ipch/*
*.opensdf
exampletest/exampletest.pro.user.*
lib/*.exe
lib/*.dll
lib/*.exp
lib/*.ilk
lib/*.lib
lib/*.prl
qjson/debug
scr/debug
src/debug
qjson/*.vcxproj
qjson/*.vcxproj.*
*.sdf
*.sln
*.suo
src/*.vcxproj
src/*.vcxproj.*
examples/search/debug/*